<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <img src="logo_blanco.png" alt="RuteX Go Logo" class="footer-logo">
      <p>Turismo Gamificado en Extremadura</p>
    </div>
    
    <div class="footer-info">
      <p>&copy; {{ year }} RuteX Go Project. Todos los derechos reservados.</p>
    </div>

    <div class="footer-links">
      <a href="https://github.com/TurisTechTeam-Dev/RuteX-Go-App/tree/main/docs" target="_blank">Documentación</a>
      <a href="mailto:turistechteam@gmail.com">Contacto</a>
    </div>
  </div>
</footer>
