<div id="inicio"></div>
<app-navbar></app-navbar>

<main class="main-layout">
  <div class="left-side">
    <app-landing></app-landing>
  </div>

  <div class="right-side" id="equipo"> 
    <section class="team-section">
      <h2 class="section-title">Nuestro Equipo</h2>
      <div class="team-grid">
        <app-team-cards 
          *ngFor="let est of estudiantes"
          [nombre]="est.nombre"
          [rol]="est.rol"
          [fotoUrl]="est.foto"
          [githubUrl]="est.github">
        </app-team-cards>
      </div>

      <div class="tutor-container">
        <h3 class="section-title">Tutoras</h3>
        <div class="tutor-cards-wrapper">
          <app-team-cards
            *ngFor="let tut of tutora"
            [nombre]="tut.nombre"
            [rol]="tut.rol"
            [fotoUrl]="tut.foto"
            [githubUrl]="tut.github">
            [esTutora]="true">
          </app-team-cards>
        </div>
      </div>
    </section>
  </div>
</main>

<app-footer></app-footer>